/*整体居中处理并添加背景色*/
.wrap {
    width: 680px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
}
/*调整页面头部*/
.wrap .nav {
    overflow: hidden;
}
.wrap .nav::after {
    content: "";
    display: table;
    clear: both;
}
.wrap .nav h1 {
    font-size: 26px;
    font-weight: 700;
    float: left;
    color: #377BA8;
}
.wrap .nav ul {
    float: right;
}
.wrap .nav ul li {
    display: inline-block;
    margin-left: 10px;
    color: #377BA8;
}
/*调整页面整体*/
.wrap .page-box{
    display: flex;
    justify-content: center;

}
/*调整小标题*/
.wrap .header {
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0;
    color: #377BA8;
}
/*调整内容*/
.wrap .content form table tr td{
    padding: 10px 0;
}
.wrap .content form table tr:last-child td:last-child {
    /*新增和修改页面的底部提交按钮*/
    text-align: right;
}
/*主页待办列表调整*/
.wrap .content .index-tb {
    width: 640px;
}
.wrap .content .index-tb tr td {
    text-align: center;
    padding: 10px 0;
}
.wrap .content .index-tb tr:last-child td:last-child {
    text-align: center;
}
.wrap .content .index-tb tr th {
    font-weight: 700;
}
.wrap .content .index-tb tr td:first-child, th:first-child {
    text-align: left;
    width: 420px;
}
.wrap .content .index-tb tr td a {
    display: inline-block;
}
.ellipsis {
    line-height: 20px;
    display: inline-block;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}