{% extends 'base.html' %}

{% block header %}
    {% block title %}新增待办{% endblock %}
{% endblock %}

{% block content %}
    <form action="" method="post">
        <table>
            <tr>
                <td><label for="content">待办事项：</label></td>
                <td><input type="text" name="content" id="content" required></td>
            </tr>
            <tr>
                <td><label>是否完成：</label></td>
                <td>
                    <label for="done">已完成</label>
                    <input type="radio" name="finished" id="done" value="1">
                    <label for="ongoing">未完成</label>
                    <input type="radio" name="finished" id="ongoing" value="0" checked>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="添加"></td>
            </tr>
        </table>
    </form>
{% endblock %}
