{% extends 'base.html' %}

{% block title %}
修改待办
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-sm-6">
        <h2>修改待办</h2>
        <form method="post" autocomplete="off">
            <div class="row mb-3">
                <label for="content" class="col-sm-3 col-form-label">待办事项：</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="content" name="content" required maxlength="32"
                    value="{{ request.form['content'] or todo['content'] }}">
                </div>
            </div>
            <div class="row mb-3">
                <span class="col-sm-3">已完成：</span>
                <div class="col-sm-9 d-flex align-content-center">
                    <div class="form-check col-sm-2">
                        <input class="form-check-input" type="radio" name="finished" id="done" value="1">
                        <label class="form-check-label" for="done">是</label>
                    </div>
                    <div class="form-check col-sm-2">
                        <input class="form-check-input" type="radio" name="finished" id="ongoing" value="0" checked>
                        <label class="form-check-label" for="ongoing">否</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <button type="submit" class="btn btn-primary">修改</button>
                </div>
                {% for message in get_flashed_messages() %}
                <div class="flash col-sm-9 align-content-center text-danger">{{ message }}</div>
                {% endfor %}
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
    <script>
        var selectedValue = {{ todo.finished }};
        selectedValue = selectedValue.toString()

        // 查询所有name属性为myRadio的input元素
        var radios = document.querySelectorAll('input[name="finished"]');

        // 遍历这些元素，并设置checked属性
        radios.forEach(function(radio) {
            console.log(radio.value, typeof radio.value)
            if (radio.value === selectedValue) {
                radio.checked = true;
            }
        })
    </script>
{% endblock %}
